<div>
  <div class="d-block d-md-none">
    <div class="row">
      <h1 class="ml-3 mb-1">Temperature: {{climateService.temp}} °C</h1>
    </div>
    <mat-divider></mat-divider>
    <div class="row">
      <h1 class="ml-3 mb-0">
        Humidity: {{climateService.humidity | percent}}
      </h1>
    </div>
  </div>
  <div class="d-none d-md-block">
    <div class="row">
      <div class="col border-right pr-2">
        <h1 class="mb-0">
          Temperature
          <br>
          {{climateService.temp}} °C
        </h1>
      </div>
      <div class="col border-left pl-3">
        <h1 class="mb-0">
          Humidity
          <br>
          {{climateService.humidity | percent}}
        </h1>
      </div>
    </div>
  </div>
</div>
