<div class="row">
  <div class="col-12 col-xl-6">
    <mat-slide-toggle color="accent" [(ngModel)]="config.autoFan" (change)="save()">Automatic</mat-slide-toggle>
  </div>
  <div class="col-12 col-xl-6 mt-4 mt-xl-0">
    <mat-radio-group [disabled]="!config.autoFan" [(ngModel)]="config.fanMode" (change)="save()">
      <mat-radio-button value="time" checked>Time</mat-radio-button>
      <mat-radio-button class="ml-3" value="temp">Temp</mat-radio-button>
    </mat-radio-group>
  </div>
</div>
<div *ngIf="config.fanMode == 'time'" class="mt-4 row">
  <div class="col">
    <mat-form-field class="w-100" appearance="fill" color="accent">
      <mat-label>From</mat-label>
      <input matInput type="time" [(ngModel)]="config.fanOn" (change)="save()" [disabled]="!config.autoFan">
    </mat-form-field>
  </div>
  <div class="col">
    <mat-form-field class="w-100" appearance="fill" color="accent">
      <mat-label>To</mat-label>
      <input matInput type="time" [(ngModel)]="config.fanOff" (change)="save()" [disabled]="!config.autoFan">
    </mat-form-field>
  </div>
</div>
<div *ngIf="config.fanMode == 'temp'" class="mt-4 row">
  <div class="col">
    <mat-form-field class="w-100" appearance="fill" color="accent">
      <mat-label>Temperature</mat-label>
      <input matInput type="number" [(ngModel)]="config.fanTemp" (change)="save()" [disabled]="!config.autoFan">
      <span matSuffix>°C</span>
    </mat-form-field>
  </div>
  <div class="col">
    <mat-form-field class="w-100" appearance="fill" color="accent">
      <mat-label>Humidity</mat-label>
      <input matInput type="number" [(ngModel)]="config.fanHumidity" (change)="save()" [disabled]="!config.autoFan">
      <span matSuffix>%</span>
    </mat-form-field>
  </div>
</div>
