<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-4 mt-4">
      <div class="row">
        <div class="col-12">
          <mat-card>
            <mat-card-content>
              <temperature></temperature>
            </mat-card-content>
          </mat-card>
        </div>
        <div class="col-12 mt-4">
          <mat-card style="padding: 3px">
            <mat-card-content>
              <stream></stream>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
